<html>

<head>
    <meta charset="UTF-8" lang="{{ LANGUAGE_CODE }}" />
    <title>Globe</title>
    <link rel="icon" type="image/webp" href="{%  static 'img' %}" />
    <link rel="stylesheet" href="{% static 'vendor/ionslider/ionslider.css' %}"/>
    <link rel="stylesheet" href='styles.css'/>
</head>

<body>
</body>

<footer>

<script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="https://d3js.org/topojson.v0.min.js"></script>
<script type="text/javascript" src="main.js"></script>

</footer>

</html>

